@import '../../style/color.scss';

.page-action{
  text-align: center;
  color: $gray;
  .page-num{
    display: inline-block;
    min-width:30px;
    height:30px;
    line-height:30px;
    font-size: $baseFontSize;
    border: $gray-lighter solid 1px;
    background: #fff;
    margin: 0 3px;
    cursor: pointer;
    &.page-text{
      width: 58px;
      cursor: pointer;
    }
    &:hover{
      color:$blue;
    }
    &.current,
    &.current:hover{
      border-color: $blue;
      background: $blue;
      color: #fff;
    }
    &.disabled{
      width:30px;
      height:32px;
      border:0;
      background: none;
      margin: 0;
    }
    &.disabled:hover{
      color:$gray;
    }
  }
}