@import '../../style/color.scss';
.input-wrap {
  display: table;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  width: 100%;
  &.input-group{
    .input{
      display:table-cell;
    }
    .input-before{
      width: 1px;
      display:table-cell;
      white-space: nowrap;
      vertical-align: middle;
    }
    .input-after{
      width: 1px;
      display:table-cell;
      white-space: nowrap;
      vertical-align: middle;
    }
  }
}
.input{
  width: 100%;
  height: 36px;
  line-height: 24px;
  padding: 0 10px;
  border: $gray-lighter solid 1px;
  font-size: 14px;
  color: #626262;
  background: #fff;
  outline: none;
  vertical-align: top;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  box-sizing: border-box;
  &:hover {
    border-color: $blue;
  }
  &:focus {
    border-color: $blue;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
  &.input-small {
    height: 24px;
    font-size: 12px;
  }
  &.input-base {
    height: 32px
  }
  &.input-large {
    height: 40px;
  }
  &.input-radius{
    border-radius: 4px;
  }
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  /* WebKit browsers */
 color: #d0d0d0;
 }
 input:-moz-placeholder, textarea:-moz-placeholder {
 /* Mozilla Firefox 4 to 18 */
 color: #d0d0d0;
 }
 input::-moz-placeholder, textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #d0d0d0;
 }
 input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #d0d0d0;
 }
 .input-before {
  padding: 0 11px;
  font-size: 14px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.65);
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-right: none;
  border-radius: 4px 0 0 4px;
  position: relative;
  box-sizing: border-box;
 }
 .input-after {
  padding: 0 11px;
  font-size: 14px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.65);
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-left: none;
  border-radius: 0 4px 4px 0;
  position: relative;
  box-sizing: border-box;
 }