public/*.js
config/*.js
src/registerServiceWorker.js
src/App.js
src/components/Form/*.jsx
src/components/Form/form-components/*.jsx
src/examples/*.js
src/examples/*/*.js
src/examples/*/*/*.jsx
src/lib/*.js
node_modules/*.js
scripts/*.js