.textarea-base {
  position: relative;
  width: 600px;
  height: 160px;
  overflow: hidden;
  border: #d8d8d8 solid 1px;
  background: #FFF;
  padding-top: 12px;
  padding-bottom: 30px;
  &.textarea-size-large {
    width: 800px;
    height: 160px;
  }
  &.textarea-size-base {
    width: 600px;
    height: 160px;
  }
  &.textarea-size-small {
    width: 500px;
    height: 160px;
  }
  .textarea-inner {
    border: none;
    width: 100%;
    height: 100%;
    padding: 0 12px;
    line-height: 22px;
    resize: none;
    font-size: inherit;
    &:focus {
      outline: none;
    }
  }
  .cha-limit {
    position: absolute;
    right: 5px;
    bottom: 1px;
    line-height: 30px;
    font-size: 12px;
    .max-cha-num {
      color: #d0d0d0;
    }
  }
}