$smallFontSize: 12px;
$baseFontSize: 14px;
$bigFontSize: 16px;
$biggerFontSize: 18px;
$superFontSize: 24px;

$green: #0BD148;
$blue: #4b8de5;
$deep-blue: #396FB7;
$blue-two: #6CB2FF;
$black: #000;
$black-gray:#535353;
$gray: #626262;
$gray-light: #999;
$gray-lighter: #d8d8d8;// 淡灰色，用于边框
$gray-lightecc: #c8c8c8;
$gray-lightest: #ededed;
$gray-white: #eaebee;
$white-gray: #f4f4f4;
$white-off: #f7f7f7;
$white-darkGrey:#f0f0f0;
$white: #fff;
$red:#f25252;
$gray-bg:#F9F9FA;
$gray-deep:#ECECEC;
$orange:#f1a028;
$somber:#1f1f1f;

$spacing: 10px;
$field-margin-bottom: 20px;

$font-sl: 12px;

$gray-hig:#626262;
$gray-one:#B6B6B6;
$gray-two:#D6D6D6;
$font-blue:#4B8DE5;
$font-black:#000;
$in-grey:#545454;

$back-one: rgba(75,141,229,.3);
$back-two: rgba(75,141,229,1);
$border-two:#D8DBE1 2px solid;
$border-two-cur:#4B8DE5 2px solid;
$border-input:#D8D8D8 1px solid;
$border-one:#D8D8D8 1px solid;

$back-gray: #EAEBEE;
