.page-header__wrap {
  display: flex;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  justify-content: space-between;
  border-bottom: 1px solid #eaeefb;
  color: #333;
  font-family: Dosis,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
  font-size: 20px;
  .page-header__logo {
    display: flex;
    align-items: center;
    .react-logo {
      width: 40px;
      height: 40px;
      margin-right: 5px;
    }
  }
  .page-header__nav {
    display: flex;
    align-items: center;
    .github-logo {
      width: 40px;
      height: 40px;
      background: url(../static/github.png);
      background-size: 40px;
    }
  }
}
