.transfer-wrapper {
  &:after{
    display: block;
    content:'';
    height: 0;
    clear: both;
    zoom: 1;
  }
  .panel-title {
    box-sizing: border-box;
    padding: 2px 10px;
    border-bottom: 1px solid #d8d8d8;
    border-radius: 4px;
    background: #f8f9f9;
    height: 40px;
    line-height: 38px;
  }
  .panel-content {
    box-sizing: border-box;
    padding: 8px 0px 8px 8px;
    height: 225px;
    width: 100%;
    overflow: hidden;
  }
  .panel-footer {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 3px 10px;
    height: 30px;
    line-height: 24px;
    border-top: 1px solid #d8d8d8;
    border-radius: 4px;
    .remove {
      color: #4b8de5;
      cursor: pointer;
      border:none;
      font-size: 14px;
      height: 23px;
      padding:1px 7px 2px 7px;
    }
    .clean-up {
      color: #4b8de5;
      float: right;
      cursor: pointer;
      border:none;
      font-size: 14px;
      padding-top: 3px;
    }
  }
  .left-panel {
    float: left;
    position: relative;
    width: 400px;
    height: 300px;
    border: 1px solid #d8d8d8;
    margin-right: 20px;
    border-radius: 4px;
    .transfer-search-wraper {
      float: left;
      position: relative;
      max-width: 100%;
      min-width: 180px;
      line-height: 34px;
      height: 34px;
      .transfer-search {
        box-sizing: border-box;
        position: relative;
        display: inline-block;
        padding: 4px 28px 4px 7px;
        width: 100%;
        height: 34px;
        font-size: 14px;
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.65);
        background-color: #fff;
        background-image: none;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        transition: all 0.3s;
      }
      .icon-search {
        display: block;
        position: absolute;
        height: 14px;
        width: 14px;
        top: 50%;
        right: 7px;
        z-index: 2;
        line-height: 0;
        color: rgba(0, 0, 0, 0.65);
      }
    }
  }
  .right-panel {
    float: left;
    position: relative;
    width: 210px;
    height: 300px;
    border-radius: 4px;
    border: 1px solid #d8d8d8;
  }
.transfer-list-content{
  width:100%;
  height: auto;
  overflow: auto;
  padding: 0;
  margin: 0;
  .transfer-list-item {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    width: 186px;
    margin-right: 8px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    background: #f8f9f9;
    padding:0 8px;
    .right-list-checkbox {
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      left: 8px;
    }
    .right-item-content{
      float: left;
      margin-left: 20px;
      font-size: 12px;
    }
    .item-img {
      float: left;
      width: 24px;
      height: 24px;
      border-radius: 4px;
      margin: 3px 5px;
    }
    .item-title {
      float: left;
      vertical-align: top;
      font-size: 12px;
    }
    .choosen {
      display: block;
      position: absolute;
      width: 15px;
      height: 15px;
      right: 5px;
      bottom: 5px;
      background: url("./checked.png");
      background-size: 15px 15px;
    }
    .icon-check-mark {
      display: block;
      position: absolute;
      font-size: 14px;
      right: 5px;
      bottom: 5px;
      color: #269a49;
    }
  }
}

}
